@tailwind base;
@tailwind components;
@tailwind utilities;

#light {
  background-color: #fefefc;
}
#dark {
  background-color: #031e17;
}
#light .text {
  color: #222222;
}
#dark .text {
  color: #ffffff;
}
.text-big {
  font-weight: bold;
}
.text-med {
  font-weight: 600;
}
.text-narrow {
  font-weight: 400;
}

body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-wide {
  margin: auto;
  width: 90%;
  max-width: 1536px;
}
.container-mid {
  margin: auto;
  width: 100%;
  max-width: 1100px;
}
.container-nar {
  margin: auto;
  width: 100%;
  max-width: 580px;
}

@media only screen and (max-width: 1280px) {
  .container-wide {
    margin: auto;
    width: 90%;
    max-width: 1024px;
  }
  .container-mid {
    margin: auto;
    width: 100%;
    max-width: 900px;
  }
  .container-nar {
    margin: auto;
    width: 100%;
    max-width: 480px;
  }
}

@media only screen and (max-width: 1024px) {
  .container-wide {
    margin: auto;
    width: 90%;
    max-width: 768px;
  }
  .container-mid {
    margin: auto;
    width: 100%;
    max-width: 768px;
  }
  .container-nar {
    margin: auto;
    width: 100%;
    max-width: 580px;
  }
}

@media only screen and (max-width: 640px) {
  .container-wide {
    margin: auto;
    width: 90%;
    max-width: 480px;
  }
  .container-mid {
    margin: auto;
    width: 100%;
    max-width: 480px;
  }
  .container-nar {
    margin: auto;
    width: 100%;
    max-width: 480px;
  }
}
